name: "Rust CI"
on:
  pull_request:
    paths:
      - "crates/**"
      - "Cargo.toml"
      - ".github/workflows/ci.yaml"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: cargo build
    runs-on: [ubuntu-22.04-github-hosted-32core]
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: ""
      - name: Setup rust
        run: |
          rustup set profile minimal
          rustup toolchain install 1.81.0
          rustup toolchain install nightly-2024-11-19
          rustup default nightly-2024-11-19
          cargo install cargo-nextest
      - name: Compile
        run: cargo build

      # `circuit_sequencer_api` *MUST* be compilable with stable.
      - name: Compile circuit_sequencer_api on stable
        run: cargo +1.81.0 build -p circuit_sequencer_api

  test:
    name: cargo test
    runs-on: [ubuntu-22.04-github-hosted-32core]
    needs: build
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: ""
      - name: Setup rust
        run: |
          rustup set profile minimal
          rustup toolchain install nightly-2024-11-19
          rustup default nightly-2024-11-19
          cargo install cargo-nextest
      - name: zkevm_test_harness - Main test
        run: cargo nextest run --release --manifest-path crates/zkevm_test_harness/Cargo.toml --test-threads 2
      - name: Encodings test
        run: cargo nextest run --release --manifest-path crates/circuit_encodings/Cargo.toml
      - name: Api tests
        run: cargo nextest run --release --manifest-path crates/circuit_sequencer_api/Cargo.toml
      - name: Definitions test
        run: cargo nextest run --release --manifest-path crates/circuit_definitions/Cargo.toml
      - name: Kzg tests
        run: cargo nextest run --release --manifest-path crates/kzg/Cargo.toml

  formatting:
    name: cargo fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
      - name: Rustfmt Check
        uses: actions-rust-lang/rustfmt@v1
